<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Hello msg="This is a template for Vue.js + TypeScript App + Express.js backend"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Hello from '@/components/Hello.vue'; // @ is an alias to /src

export default Vue.extend({
  name: 'home',
  components: {
    Hello,
  },
});
</script>
