<template>
<div class="newUserWrapper">
  <h1>Create an user</h1>

  <form class="ui form" style="width:90%; margin: 0 auto;" autocomplete="off" ref="addUserForm">
    <div class="ui stackable column grid ">
        <div class="column">      
            <div class="ui six column grid" id="inputNewUserWrapper">
                <div class="column field"></div> 
                <div class="column field"></div>    
                <div class="column field">
                    <div class="ui left icon fluid input " id="usernameInput" >
                        <input v-model="username" placeholder="Username" >
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="column field">
                    <div class="ui left icon fluid input" id="emailInput">
                        <input v-model="email" placeholder="Email">
                        <i class="envelope icon"></i>
                    </div>
                </div>
                <div class="column field"></div>
                <div class="column field"></div>
            </div>
        </div>
    </div>
    <div class="ui column">
      <div class="column buttonWrapper">
        <div class="ui green button" ref="submitButton" @click='createUser()' tabindex="0">✓</div>
        <div class="ui red button" ref="abortButton"  tabindex="0">X</div>
      </div>
    </div>
    <div class="tableWrapper">
        <UserTable/>
    </div>
  </form>
</div>
</template>


<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import UserTable from '@/components/UserTable.vue';

interface IUser {
  ID?: number;
  USERNAME: string | null;
  EMAIL: string | null;
}

@Component({
  components: {
    UserTable
  }
})

export default class User extends Vue {
  private id: number = 0;
  private username: string = '';
  private email: string = '';


  get allUsers(): IUser[] {
    return this.$store.state.users;
  }

  private createUser() {
    const user: IUser = {
      ID: this.id,
      USERNAME: this.username,
      EMAIL: this.email,
    };

    this.$store.dispatch('createNewUser', user);
  }

  private mounted() {
    this.$store.dispatch('getUsers');
  }
  
}
</script>


<style>

  .tableWrapper{
      padding: 10px;
  }

</style>

