<template>
<div class="newUserWrapper">
  <h1>Delete an user</h1>
  <form class="ui form" style="width:90%; margin: 0 auto;" autocomplete="off" ref="addUserForm">
    <div class="ui stackable column grid ">
        <div class="column">      
            <div class="ui five column grid" id="inputNewUserWrapper">
                <div class="column field"></div> 
                <div class="column field"></div> 
                <div class="column field">
                    <div class="ui left icon fluid input" id="userIdInput">
                        <input v-model="userId" placeholder="User id">
                        <i class="id card outline icon"></i>
                    </div>
                </div>   
                <div class="column field"></div>
                <div class="column field"></div>
            </div>
        </div>
    </div>
    <div class="ui column">
      <div class="column buttonWrapper">
        <div class="ui green button" ref="submitButton" @click='deleteUser(userId)' tabindex="0">✓</div>
        <div class="ui red button" ref="abortButton"  tabindex="0">X</div>
      </div>
    </div>
    <div class="tableWrapper">
        <UserTable/>
    </div>
  </form>
</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import UserTable from '@/components/UserTable.vue';

@Component({
  components: {
    UserTable
  }
})

export default class User extends Vue {
  private userId: String = '';

  get allUsers() {
    return this.$store.state.users;
  }

  private deleteUser(userId: string) {
      if(userId) {
          this.$store.dispatch('deleteUser', userId)
      }
  }

  private mounted() {
    this.$store.dispatch('getUsers');
  }
}
</script>


<style>

  .tableWrapper{
      padding: 10px;
  }

</style>