<template>
<div class="newUserWrapper">
  <h1>Get an user</h1>
  <form class="ui form" style="width:90%; margin: 0 auto;" autocomplete="off" ref="addUserForm">
    <div class="ui stackable column grid ">
        <div class="column">      
            <div class="ui five column grid" id="inputGetUserWrapper">
                <div class="column field"></div> 
                <div class="column field"></div> 
                <div class="column field">
                    <div class="ui left icon fluid input" id="userIdInput">
                        <input v-model="userId" placeholder="User id">
                        <i class="id card outline icon"></i>
                    </div>
                </div>   
                <div class="column field"></div>
                <div class="column field"></div>
            </div>
        </div>
    </div>
    <div class="ui column">
      <div class="column buttonWrapper">
        <div class="ui green button" ref="submitButton" @click='getUser(userId)' tabindex="0">✓</div>
        <div class="ui red button" ref="abortButton"  tabindex="0">X</div>
      </div>
    </div>
    <div class="tableWrapper">
        <Table/>
    </div>
  </form>
</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Table from '@/components/Table.vue';

@Component({
  components: {
    Table,
  },
})

export default class User extends Vue {
    private userId: String = '';

    get user(){
        return this.$store.state.user;
    }

    private getUser(userId: number) {
        if(userId) {
            this.$store.dispatch('getUser', userId)
        }
    }
}
</script>


<style>

  .tableWrapper{
      padding: 10px;
  }

</style>