<template>
    <div class="tableWrapper">
        <table class="ui table stackable userTable" ref="Table">
            <thead>
            <tr><th>User id</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                <td>{{users.ID}}</td>
                <td>{{users.USERNAME}}</td>
                <td>{{users.EMAIL}}</td>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import $ from 'jQuery';
import {Component} from 'vue-property-decorator';

@Component({
    name: 'Table'
})

export default class UserTable extends Vue{

    // Computed properties
    get users() {
        return this.$store.state.user;
    }
}
</script>