<template>
<div class="newUserWrapper">
  <h1>Update an user</h1>
  <form class="ui form" style="width:90%; margin: 0 auto;" autocomplete="off" ref="addUserForm">
    <div class="ui stackable column grid ">
        <div class="column">      
            <div class="ui seven column grid" id="inputNewUserWrapper">
                <div class="column field"></div> 
                <div class="column field"></div> 
                <div class="column field">
                    <div class="ui left icon fluid input" id="userIdInput">
                        <input v-model="ID" placeholder="User id">
                        <i class="id card outline icon"></i>
                    </div>
                </div>   
                <div class="column field">
                    <div class="ui left icon fluid input " id="usernameInput" >
                        <input v-model="USERNAME" placeholder="Username" >
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="column field">
                    <div class="ui left icon fluid input" id="emailInput">
                        <input v-model="EMAIL" placeholder="Email">
                        <i class="envelope icon"></i>
                    </div>
                </div>
                <div class="column field"></div>
                <div class="column field"></div>
            </div>
        </div>
    </div>
    <div class="ui column">
      <div class="column buttonWrapper">
        <div class="ui green button" ref="submitButton" @click='updateUser()' tabindex="0">✓</div>
        <div class="ui red button" ref="abortButton"  tabindex="0">X</div>
      </div>
    </div>
    <div class="tableWrapper">
        <UserTable/>
    </div>
  </form>
</div>
</template>


<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import UserTable from '@/components/UserTable.vue';

interface IUser {
  ID?: string;
  USERNAME: string | null;
  EMAIL: string | null;
}

@Component({
  components: {
    UserTable,
  },
})

export default class User extends Vue {
  private ID?: string = '';
  private USERNAME: string = '';
  private EMAIL: string = '';


  get allUsers(): IUser[] {
    return this.$store.state.users;
  }

  private updateUser() {
    const user: IUser = {
      ID: this.ID,
      USERNAME: this.USERNAME,
      EMAIL: this.EMAIL,
    };

    this.$store.dispatch('updateUser', user);
  }
  private mounted() {
    this.$store.dispatch('getUsers');
  }
}
</script>


<style>

  .tableWrapper{
      padding: 10px;
  }

</style>

