<template>
    <div class="tableWrapper">
        <table class="ui table stackable userTable" ref="userTable">
            <thead>
            <tr><th>User id</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(user, index) in users"
                    :key="index"
                >
                    <td>{{user.ID}}</td>
                    <td>{{user.USERNAME}}</td>
                    <td>{{user.EMAIL}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import $ from 'jQuery';
import {Component} from 'vue-property-decorator';

@Component({
    name: 'UserTable',
})

export default class UserTable extends Vue {

    // Computed properties
    get users() {
        return this.$store.state.users;
    }
}
</script>