<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/createUser">Create user</router-link> |
      <router-link to="/deleteuser">Delete user</router-link> |
      <router-link to="/updateuser">Update user</router-link> |
      <router-link to="/getuser">Get user</router-link> 
    </div>
    <router-view/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default class App extends Vue {}
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

</style>
